
{% extends 'memo_app/base.html' %}
{% load staticfiles %}

{% block header %}
{% load staticfiles %}
  {% if user.is_authenticated %}

  {% else %}
  <div class="new">
    <a href="{% url 'login' %}">
      <button type="button" class="btn btn-info navbar-btn">로그인</button>
    </a>
  </div>
  {% endif %}
{% endblock header %}

{% block container %}
  {% if user.is_authenticated %}
  <script type="text/javascript">
    alert('잘못된 접근입니다. \n회원가입을 위해서는 로그아웃이 필요합니다.')
    window.location.href = '/';
  </script>
  {% else %}
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-xs-offset-3 col-sm-offset-4 col-md-offset-4">
        <form method="POST" action="" class="sign-up-form">
          {%csrf_token%}
          <h2 class="sub-title"> 회원가입 </h2>
          {% for field in form %}
              <div class="form-group">
                {{ field.label }}
                {{field}}
              </div>
          {% endfor %}
          <button type="submit" class="save btn btn-success">회원가입</button>
          <a href="{% url 'index' %}">
            <button type="button" class="btn btn-danger">취소</button>
          </a>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
{% endblock container %}
